<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>First image url:</strong>
  <%= @item.first_image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @item.deleted_at %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
